{% extends "base.html" %}
{% load l10n %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Create Payment Template
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block amazonsidebar %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    {% if not form.instance.pk %}
    <h1>Add Payment Terms</h1>
    {% else %}
    <h1>Edit Payment Terms</h1>
    {% endif %}
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
      <ol class="breadcrumb pt-0">
        <li class="breadcrumb-item">
          <a href="{% url 'core:dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Payment Terms</li>
      </ol>
    </nav>
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">Add Payment Term</h5>
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
          <div class="alert alert-danger rounded">{{error}}</div>
          {% endfor %}
        {% endfor %}
        <form method="POST" class="needs-validation" novalidate>
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn btn-primary mb-0">Submit</button>
          <a href="{% url 'setting:paymentterms_list' %}" class="btn btn-danger mb-0">Cancel</a>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
