DJANGO_SECRET_KEY=
DATABASE_URL=
DJANGO_ALLOWED_HOSTS=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
FORGET_PASSWORD_PAGE_LINK=
INVITE_LINK=
EXISTING_INVITE_LINK=
VENDOR_DEFAULT_PASSWORD=
AMAZON_LWA_TOKEN_ENDPOINT=
AMAZON_SELLER_CENTRAL_AUTHORIZE_URL=

AMAZON_APPLICATION_ID=
LWA_CLIENT_ID=
LWA_CLIENT_SECRET=