{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% load selectable_tags %}
{% load static %}
{% block title %}
{% translate 'Add Product' %}
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block amazonsidebar %}{% endblock %}
{% block content %}
<!-- Selectable plugin required Jquery css -->
{% include_jquery_libs %}
<!-- Selectable plugin required Jquery css -->
<main>
  <div class="container-fluid">
    {% include "sidebar.html" %}
    <div class="row">
      <div class="col-12">
        {% if not form.instance.pk %}
        <h1>{% translate 'Add Product' %}</h1>
        {% else %}
        <h1>{% translate 'Edit Product' %}</h1>
        {% endif %}
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
          <ol class="breadcrumb pt-0">
            <li class="breadcrumb-item">
              <a href="{% url 'core:dashboard' %}">{% translate 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {% if not form.instance.pk %}
              {% translate 'Add Product' %}
              {% else %}
              {% translate 'Edit Product' %}
              {% endif %}
            </li>
          </ol>
        </nav>
        <div class="separator mb-5"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
{% block script %}
<script>
    $.ui.djselectable.prototype._comboButtonTemplate = function (input) {
        var icon = $("<i>").addClass("iconsmind-Scroll");
        var button = $("<button>").append(icon).addClass("btn btn-outline-secondary default btn-sm");
        // Remove current classes on the text input
        $(input).attr("class", "form-control");
        // Wrap with input-append
        $(input).wrap('<div class="input-group" />');
        // Return button link with the chosen icon
        return $("<div>").append(button).addClass("input-group-append");
    };
    $.ui.djselectable.prototype._removeButtonTemplate = function (item) {
        var icon = $("<i>").addClass("simple-icon-close ml-1");
        // Return button link with the chosen icon
        return $("<a>").append(icon).addClass("pull-right");
    };
</script>
{% endblock %}
