{% load i18n %}
{% load l10n %}
{% load static permission_tags %}
<div class="sidebar">
  <div class="main-menu">
    <div class="scroll">
      <ul class="list-unstyled">
        <!-- Dashboard -->
        <li {% if active_menu.menu1 == 'dashboard' %}class="active"{% endif %}>
          <a href="{% url 'core:dashboard' %}">
            <i class="simple-icon-home"></i>
            <span>{% translate "Dashboard" %}</span>
          </a>
        </li>
        <!-- Product Management -->
        {% if loggedin_member|has_role:'supply_chain_manager,company_admin' %}
        <li {% if active_menu.menu1 == 'product-management' %}class="active"{% endif %}>
          <a href="#product-management">
            <i class="simple-icon-folder-alt"></i>
            <span>{% translate "Product Management" %}</span>
          </a>
        </li>
        {% endif %}

        <!-- Supply Chain -->
        {% if loggedin_member|has_role:'supply_chain_manager,company_admin,vendor_admin' %}
        <li {% if active_menu.menu1 == 'supply-chain' %}class="active"{% endif %}>
          <a href="#supply-chain">
            <i class="simple-icon-refresh"></i>
            <span>{% translate "Supply Chain" %}</span>
          </a>
        </li>
        {% endif %}

        <!-- Sales -->
        {% if loggedin_member|has_role:'sales_manager,company_admin' %}
        <li {% if active_menu.menu1 == 'sales' %}class="active"{% endif %}>
          <a href="#sales">
            <i class="simple-icon-chart"></i>
            <span>{% translate "Sales" %}</span>
          </a>
        </li>
        {% endif %}

        <!-- Finance -->
        {% if loggedin_member|has_role:'sales_manager,company_admin' %}
        <li {% if active_menu.menu1 == 'payment' %}class="active"{% endif %}>
          <a href="#finance">
            <i class="simple-icon-wallet"></i>
            <span>{% translate "Finance" %}</span>
          </a>
        </li>
        {% endif %}
        <!-- Setting -->
        {% if loggedin_member|has_role:'supply_chain_manager,company_admin,vendor_admin' %}
        <li {% if active_menu.menu1 == 'setting' %}class="active"{% endif %}>
          <a href="#setting">
            <i class="simple-icon-settings"></i>
            <span>{% translate "Setting" %}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="sub-menu">
    <div class="scroll">
      <!-- Product Management -->
      <ul class="list-unstyled" data-link="product-management">
        <li class="{% if active_menu.menu2 == 'dashboard' %}active{% endif %}">
          <a href="{% url 'product:product_dashboard' %}">
            <i class="iconsmind-Shop-4"></i> {% translate "Dashboard" %}
          </a>
        </li>
        {% if loggedin_member|can:'view_product' %}
        <li class="{% if active_menu.menu2 == 'component' %}active{% endif %}">
          <a href="{% url 'product:componentparent_list' %}">
            <i class="simple-icon-layers"></i> {% translate "Components" %}
          </a>
        </li>
        <li class="{% if active_menu.menu2 == 'product' %}active{% endif %}">
          <a href="{% url 'product:product_list' %}">
            <i class="simple-icon-list"></i> {% translate "Products" %}
          </a>
        </li>
        {% endif %}
        <li>
          <a href="#">
            <i class="simple-icon-map"></i> {% translate "RRP" %}
          </a>
        </li>
      </ul>

      <!-- Supply Chain -->
      <ul class="list-unstyled" data-link="supply-chain">
        <li {% if active_menu.menu2 == 'vendors' %}class="active"{% endif %}>
          <a href="{% url 'company:vendor_dashboard' %}">
            <i class="iconsmind-Factory"></i> {% translate "Vendors" %}
          </a>
          <div class="sub-sub-menu">
            <ul class="list-unstyled d-block">
              {% for vendor_category in vendor_categories %}
              <li>
                <a href="#"><i class="iconsmind-Right"></i> {% translate vendor_category.name %}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>

        <li>
          <a href="#">
            <i class="iconsmind-Basket-Coins"></i> {% translate "Orders" %}
          </a>
        </li>

        <li>
          <a href="#">
            <i class="simple-icon-plane"></i> {% translate "Shipments" %}
          </a>
        </li>

        <li>
          <a href="#">
            <i class="simple-icon-layers"></i> {% translate "Inventory" %}
          </a>
          <div class="sub-sub-menu">
            <ul class="list-unstyled d-block">
              <li>
                <a href="#"><i class="iconsmind-Right"></i> {% translate "Inventory Overview" %}</a>
              </li>
              <li>
                <a href="#"><i class="iconsmind-Right"></i> {% translate "Warehouse Locations" %}</a>
              </li>
              <li>
                <a href="#"><i class="iconsmind-Right"></i> {% translate "Inventory Valuation" %}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <!-- Sales -->
      <ul class="list-unstyled" data-link="sales">
        <li>
          <a href="#">
            <i class="iconsmind-Shop-4"></i> {% translate "Dashboard" %}
          </a>
        </li>
        <li>
          <a href="#">
            <i class="simple-icon-control-pause"></i> {% translate "Cost Control" %}
          </a>
        </li>
        <li>
          <a href="#">
            <i class="simple-icon-energy"></i> {% translate "Sales Channel" %}
          </a>
          <div class="sub-sub-menu">
            <ul class="list-unstyled d-block">
              {% for saleschannel in saleschannels %}
              <li>
                <a href="#"><i class="iconsmind-Right"></i> {% translate saleschannel.name %}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <li>
          <a href="#">
            <i class="simple-icon-puzzle"></i> {% translate "Optimization" %}
          </a>
          <div class="sub-sub-menu">
            <ul class="list-unstyled d-block">
              <li>
                <a href="#" class="text-muted"><i class="iconsmind-Right"></i> {% translate "Dashboard" %}</a>
              </li>
              <li>
                <a href="#" class="text-muted"><i class="iconsmind-Right"></i> {% translate "Keyword Research" %}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <!-- Finance -->
      <ul class="list-unstyled" data-link="finance">
        <li>
          <a href="#">
            <i class="simple-icon-calculator"></i> {% translate "Cash flow" %}
          </a>
        </li>
      </ul>

      <!-- Setting -->
      <ul class="list-unstyled" data-link="setting">
        {% if loggedin_member|can:'update_company_profile' %}
        <li class="{% if active_menu.menu2 == 'company-profile' %}active{% endif %}">
          <a href="{% url 'company:company_profile' %}">
            <i class="simple-icon-settings"></i> {% translate "Company Profile" %}
          </a>
        </li>
        {% endif %}
        {% if loggedin_member|can:'view_staff_member' %}
        <li class="{% if active_menu.menu2 == 'members' %}active{% endif %}">
          <a href="{% url 'company:settingsmember_list' %}">
            <i class="simple-icon-people"></i> {% translate "Members" %}
          </a>
        </li>
        {% endif %}
        
        {% if loggedin_member|can:'view_membership_plan' %}
        <li class="{% if active_menu.menu2 == 'membership' %}active{% endif %}">
          <a href="{% url 'company:membership' %}">
            <i class="simple-icon-credit-card"></i> {% translate "Mebership Plan" %}
          </a>
        </li>
        {% endif %}
        {% if loggedin_member|can:'view_company_banks' %}
        <li class="{% if active_menu.menu2 == 'bank' %}active{% endif %}">
          <a href="{% url 'company:settingsbank_list' %}">
            <i class="iconsmind-Bank"></i> {% translate "Banks" %}
          </a>
        </li>
        {% endif %}
        {% if loggedin_member|can:'view_company_locations' %}
        <li class="{% if active_menu.menu2 == 'location' %}active{% endif %}">
          <a href="{% url 'company:settingslocation_list' %}">
            <i class="simple-icon-location-pin"></i> {% translate "Locations" %}
          </a>
        </li>
        {% endif %}
        {% if loggedin_member|can:'view_packing_box' %}
        <li class="{% if active_menu.menu2 == 'packingbox' %}active{% endif %}">
          <a href="{% url 'company:settingspackingbox_list' %}">
            <i class="iconsmind-Box-Close"></i> {% translate "Packing Box" %}
          </a>
        </li>
        {% endif %}
        {% if loggedin_member|can:'view_hscode' %}
        <li class="{% if active_menu.menu2 == 'hscode' %}active{% endif %}">
          <a href="{% url 'company:settingshscode_list' %}">
            <i class="iconsmind-Box-Close"></i> {% translate "HS Code" %}
          </a>
        </li>
        {% endif %}
        {% if loggedin_member|can:'view_taxes' %}
        <li class="{% if active_menu.menu2 == 'tax' %}active{% endif %}">
          <a href="{% url 'company:settingstax_list' %}">
            <i class="iconsmind-Money-Bag"></i> {% translate "Taxes" %}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
