{% extends "base.html" %}
{% block title %}
Supply Chain Dashboard
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block amazonsidebar %}{% endblock %}
{% block content %}
<div class="row  ">
    <div class="col-12">
        <h1>Supply Chain Dashboard</h1>

        <div class="separator mb-5"></div>
    </div>
</div>
{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
