{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Update Company
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block content %}
<main>
  <div class="container-fluid">
    {% include "sidebar.html" %}
    <div class="row">
      <div class="col-md-6">
        <h1>Update Company</h1>
      </div>
      <div class="col-md-6">
        <p class="mb-0 mt-3 text-right"><strong>Register on:</strong> {{form.instance.create_date}}</p>
      </div>
    </div>
    <div class="separator mb-5"></div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} rounded" role="alert">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
