{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags permission_tags core_utils %}
{% block title %}
{% translate 'Staff Members' %}
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block content %}
<main>
  <div class="container-fluid">
    {% include "sidebar.html" %}
    <div class="row">
      <div class="col-md-6">
        <h1>
          {% if member.user.profile_picture %}
          <img alt="Profile Picture" src="{{MEDIA_URL}}{{member.user.profile_picture}}" height="40" />
          {% else %}
          <img alt="Profile Picture" src="{{MEDIA_URL}}user/profile-pic/default.png" height="40" />
          {% endif %}
          {% if member.user.get_full_name %}{{member.user.get_full_name}}{% else %}{{member.user.username}}{% endif %}
        </h1>
      </div>
    </div>

    <div class="separator mb-5"></div>
    <div class="row">
      <div class="col-12">
        {% if not member.is_admin and loggedin_member|can:'change_staff_member' %}
        <form method="POST" novalidate id="perm-assign-form">
          {% csrf_token %}
          {{form.roles}}
          {{form.permissions}}
        {% endif %}
        <div class="card mb-4">
          <div class="card-body">
              <h5 class="mb-4">{% translate 'Member Profile' %}</h5>
              {% include "global/messages.html" %}
              <div class="row">
                {% if not member.is_admin and loggedin_member|can:'change_staff_member' %}
                <div class="col-md-4">
                  {{ form.job_title|as_crispy_field }}
                </div>
                {% else %}
                <div class="col-md-4">
                  <p class="text-muted text-small mb-2">{% translate 'Job Title' %}</p>
                  <p class="mb-3">{{member.job_title}}</p>
                </div>
                {% endif %}
                <div class="col-md-4">
                  <p class="text-muted text-small mb-2">{% translate 'Username' %}</p>
                  <p class="mb-3">{{member.user.username}}</p>
                </div>
                <div class="col-md-4">
                  <p class="text-muted text-small mb-2">{% translate 'Full Name' %}</p>
                  <p class="mb-3">{% if member.user.get_full_name %}{{member.user.get_full_name}}{% else %}--{% endif %}</p>
                </div>
                <div class="col-md-4">
                  <p class="text-muted text-small mb-2">{% translate 'Email' %}</p>
                  <p class="mb-3">{{member.user.email}}</p>
                </div>
                <div class="col-md-8">
                  <p class="text-muted text-small mb-2">{% translate 'Phone Number' %}</p>
                  <p class="mb-3">{% if member.user.phone_number %}{{member.user.phone_number}}{% else %}--{% endif %}</p>
                </div>
                <div class="col-md-4">
                  <p class="text-muted text-small mb-2">{% translate 'Language' %}</p>
                  <p class="mb-3">{{member.user.get_language_display}}</p>
                </div>
                <div class="col-md-4">
                  <p class="text-muted text-small mb-2">{% translate 'TimeZone' %}</p>
                  <p class="mb-3">{{member.user.timezone}}</p>
                </div>
              </div>
              <h5 class="mb-4 mt-4">{% translate 'Member Activity' %}</h5>
              <div class="row">
                <div class="col-md-4">
                  <p class="text-muted text-small mb-2">{% translate 'Register on' %}</p>
                  <p class="mb-3">{{member.create_date}}</p>
                </div>
                <div class="col-md-4">
                  <p class="text-muted text-small mb-2">{% translate 'Last Login' %}</p>
                  <p class="mb-3">{{member.last_login}}</p>
                </div>
              </div>
            </div>
        </div>
        {% if not member.is_admin %}
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="mb-4">{% translate 'Roles and Permissions' %}</h5>
            <div class="row mt-2">
              <div class="col">
                <div class="accordion" id="rolesAssignment">
                  {% for role, meta in available_roles.items %}
                  {% if loggedin_member|can:'change_staff_member' or member|has_role:role %}
                  <div class="card shadow-none border mb-2">
                    <div class="card-header pb-0" id="heading{{role}}">
                      <div class="custom-control custom-radio my-3">
                        <input type="radio" class="custom-control-input role-selector" name="radiorole" id="customCheck-{{role}}"
                        {% if member|has_role:role %}checked{% endif %} {% if not loggedin_member|can:'change_staff_member' %}disabled{% endif %} data-role="{{role}}" />
                        <label class="custom-control-label h6" for="customCheck-{{role}}">
                          {{meta.display_name}}
                        </label>

                        <button class="btn btn-link p-0 float-right" type="button" data-toggle="collapse"
                          data-target="#collapse{{role}}" aria-expanded="true" aria-controls="collapse{{role}}}}">
                          <h5 class="mb-0"><i class="iconsmind-Arrow-Down font-weight-bold"></i></h5>
                        </button>
                      </div>
                    </div>

                    <div id="collapse{{role}}" class="collapse show" aria-labelledby="heading{{role}}"
                      data-parent="#rolesAssignment">
                      <div class="card-body pt-1">
                        <div class="row pl-3">
                          {% for perm, perm_name in meta.permissions.items %}
                          {% if loggedin_member|can:'change_staff_member' or member|has_role:role and member|can:perm %}
                          <div class="col-lg-3">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input perm-selector"
                                {% if member|has_role:role %}{% if member|can:perm %}checked{% endif %}{% endif %} {% if not loggedin_member|can:'change_staff_member' %}disabled{% endif %} id="perm-{{perm}}" data-role="{{role}}"
                                data-perm="{{perm}}" />
                              <label class="custom-control-label" for="perm-{{perm}}">{{perm_name}}</label>
                            </div>
                          </div>
                          {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if not member.is_admin and loggedin_member|can:'change_staff_member' %}
        <div class="text-right">
          <button type="submit" class="btn btn-primary mb-4">{% translate 'Save' %}</button>
        </div>
        </form>
        {% endif %}
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="mb-4">{% translate 'Recent Access' %}</h5>
            <table class="table">
              <thead>
                <tr>
                  <th>{% translate 'Date' %}</th>
                  <th>{% translate 'IP Address' %}</th>
                  <th>{% translate 'Status' %}</th>
                </tr>
                {% for access_attempt in member.access_attempts %}
                <tr>
                  <td>{{access_attempt.attempt_time}}</td>
                  <td>{{access_attempt.ip_address}}</td>
                  <td>
                    {% if access_attempt.login_valid %}
                      {% translate 'Success' %}
                    {% else %}
                      {% translate 'Failed' %}
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
{% block script %}

<script type="text/javascript">
  $(".role-selector").on('change', function () {
    var role = $(this).data('role');
    var selected = $(this)[0].checked;
    $("#rolesAssignment input[type='checkbox']").prop('checked', false);
    $("[data-role='" + role + "']").prop('checked', selected);
  });

  $("#perm-assign-form").on('submit', function (e) {
    var selectedRoles = [];
    var selectedPerms = [];
    $(".role-selector:checked").each(function (idx, el) {
      selectedRoles.push($(this).data('role'));
    });

    $(".perm-selector:checked").each(function (idx, el) {
      if (selectedRoles.indexOf($(this).data('role')) === -1)
        selectedRoles.push($(this).data('role'));
      selectedPerms.push($(this).data('perm'));
    });
    $("#id_roles").val(selectedRoles.join(","));
    $("#id_permissions").val(selectedPerms.join(","));
    return true;
  });
</script>
{% endblock %}
