{% load i18n %}
{% if not user.is_authenticated %}
<div class="section background background-no-bottom mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
                <h1>Start Your Free Month</h1>
                <p>
                    We tried to create an admin theme that we would like to use ourselves so we listed
                    our priorities. We would like to have a theme that is not over complicated to use,
                    does the job well, contains must have components and looks really nice.
                </p>
            </div>

            <div class="col-12 offset-0 col-lg-6 offset-lg-3 newsletter-input-container">
                <div class="text-center mb-3">
                    <a href="{% url 'accounts:signup' %}" class="btn btn-secondary btn-xl">FREE TRIAL</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="section mb-0">
    <div class="container" id="content">
      <div class="row row-eq-height price-container">
          {% for plan in plan_list %}
            <div class="col-md-12 col-lg-4 mb-4 price-item">
                <div class="card">
                    <div class="card-body pt-5 pb-5 d-flex flex-lg-column flex-md-row flex-sm-row flex-column">
                        <div class="price-top-part">
                            <i class="iconsmind-Male large-icon"></i>
                            <h5 class="mb-0 font-weight-semibold color-theme-1 mb-4">{{  plan.name }}
                              {% if plan == userplan.plan %}
                                <span class="current current_plan">({% trans "current plan" %})</span>
                              {% endif %}
                            </h5>
                        </div>
                        {% if plan.available %}
                          {% if not plan.is_free %}
                            {% for plan_pricing in plan.planpricing_set.all %}
                              <div class="pl-3 pr-3 pt-3 pb-0 d-flex price-feature-list flex-column">
                                  <p class="text-large mb-2 text-default">{{ plan_pricing.price }}&nbsp;{{ CURRENCY }}</p>
                                  <p class="text-muted text-small">{{ plan_pricing.pricing.name }}</p>
                                  <div>
                                    {% if user.is_authenticated %}
                                    {% if plan_pricing.plan == userplan.plan or userplan.is_expired or userplan.plan.is_free %}
                                      <a href="{% url 'create_order_plan' pk=plan_pricing.pk %}" class="btn btn-link btn-empty btn-lg">{% trans "PURCHASE"  %} <i class="simple-icon-arrow-right"></i></a>
                                    {% endif %}
                                    {% if plan != userplan.plan and not userplan.is_expired and not userplan.plan.is_free %}
                                      <a href="{% url 'create_order_plan_change' pk=plan.id %}" class="btn btn-link btn-empty btn-lg">{% trans "CHANGE" %} <i class="simple-icon-arrow-right"></i></a>
                                    {% endif %}
                                    {% endif %}
                                  </div>
                              </div>
                            {% endfor %}
                          {% else %}
                            <div class="pl-3 pr-3 pt-3 pb-0 d-flex price-feature-list flex-column">
                                <p class="text-large mb-2 text-default">0&nbsp;{{ CURRENCY }}</p>
                                <p class="text-muted text-small">{% trans "Free" %}</p>
                                <div>
                                  {% if plan != userplan.plan or userplan.is_expired %}
                                    <a href="{% url 'create_order_plan_change' pk=plan.id %}" class="btn btn-link btn-empty btn-lg">
                                      {% if userplan.is_expired %}
                                        {% trans "SELECT"  %}
                                      {% else %}
                                        {% trans "CHANGE" %}
                                      {% endif %}
                                      <i class="simple-icon-arrow-right"></i>
                                    </a>
                                  {% endif %}
                                </div>
                            </div>
                          {% endif %}
                      {% else %}
                        <span class="plan_not_available">
                       {% url 'upgrade_plan' as upgrade_url %}
                       {% blocktrans %}
                           This plan is not available anymore and cannot be extended.<p>
                           You need to upgrade your account to any of <a href="{{ upgrade_url }}">currently available plans</a>.
                       {% endblocktrans %}
                       </span>

                      {% endif %}
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
<div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
                                <h1>Feature Comparison</h1>
                                <p>
                                    Well, no need to brood on what tomorrow may bring. For one thing, tomorrow will be
                                    certain to bring worse than today, for many days to come. And there is nothing more
                                    that I can do to help it. The board is set, and the pieces are moving.
                                </p>
                            </div>
                        </div>

                        <div class="row feature-row">

                            <!-- For large screens -->
                            <div class="d-none d-md-block col-12">
                                <div class="card d-flex flex-row mb-3 table-heading">
                                    <div class="d-flex flex-grow-1 min-width-zero">
                                        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                            <p class="list-item-heading mb-0 truncate w-40 w-xs-100"></p>
                                            {% for plan in plan_list %}
                                            <p class="mb-0 text-primary w-20 w-xs-100 text-center">{{  plan.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% for quota_row in plan_table %}
                                <div class="card d-flex flex-row mb-3">
                                    <div class="d-flex flex-grow-1 min-width-zero">
                                        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                            <p class="list-item-heading mb-0 truncate w-40 w-xs-100">
                                                {{ quota_row.0.name }}
                                            </p>
                                            {% for plan_quota in quota_row.1 %}

                                                <p class="mb-0 text-primary w-20 w-xs-100 text-center">
                                                    {% ifnotequal plan_quota None %}
                                                        {% if quota_row.0.is_boolean %}
                                                            {% if plan_quota.value %} <i class="simple-icon-check"></i> {% else %}  {% endif %}
                                                        {% else %}
                                                            {% if plan_quota.value == None %}{% trans 'no limit' %}{% else %}{{ plan_quota.value }} {{ quota_row.0.unit }}{% endif %}
                                                        {% endif %}
                                                    {% endifnotequal %}
                                                </p>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}


                            </div>
</div>
</div>
</div>
