{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% block form_style %}{% endblock %}
{% block body %}
<body class="show-spinner">
    <div class="landing-page">
        <div class="mobile-menu">
            <a href="{% url 'core:home' %}" class="logo-mobile">
                <span></span>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'core:home' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'pricing' %}">PRICING</a>
                </li>
                <li class="nav-item">
                    <div class="separator"></div>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item mr-3">
                    <a href="{% url 'accounts:login' %}">SIGN IN</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" href="{% url 'accounts:signup' %}">SIGN
                        UP</a>
                </li>
                {% else %}
                <li class="nav-item mr-3">
                    <a href="{% url 'core:dashboard' %}">MY PROFILE</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="main-container">
            <nav class="landing-page-nav">
                <div class="container d-flex align-items-center justify-content-between">
                    <a class="navbar-logo pull-left" href="{% url 'core:home' %}">
                        <span class="white"></span>
                        <span class="dark"></span>
                    </a>
                    <ul class="navbar-nav d-none d-lg-flex flex-row">
                        <li class="nav-item">
                            <a href="{% url 'core:home' %}">HOME</a>
                        </li>
                        <li class="nav-item active">
                            <a href="{% url 'pricing' %}">PRICING</a>
                        </li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item mr-3">
                            <a href="{% url 'accounts:login' %}">SIGN IN</a>
                        </li>
                        <li class="nav-item pl-2">
                            <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" href="{% url 'accounts:signup' %}">SIGN
                                UP</a>
                        </li>
                        {% else %}
                        <li class="nav-item mr-3">
                            <a href="{% url 'core:dashboard' %}">MY PROFILE</a>
                        </li>
                        {% endif %}
                    </ul>
                    <a href="#" class="mobile-menu-button">
                        <i class="simple-icon-menu"></i>
                    </a>
                </div>
            </nav>
            <div class="content-container" id="home">
                <div class="section home subpage">
                    <div class="container">
                        <div class="row home-row">
                            <div class="col-12 col-xl-5 col-lg-12 col-md-12">
                                <div class="home-text">
                                    <div class="display-1">
                                        Prices for Every Budget
                                    </div>
                                    <p class="white mb-5">
                                        Distinctively exploit optimal alignments for intuitive bandwidth. Quickly
                                        coordinate e-business applications through catalysts for change.
                                        Seamlessly underwhelm optimal processes.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-circle btn-outline-semi-light hero-circle-button scrollTo" href="#content" id="homeCircleButton"><i
                            class="simple-icon-arrow-down"></i></a>
                </div>
                {% include "plans/plan_table.html" %}


            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block main_script %}
<script src="{% static 'app/js/dore.scripts.landingpage.js'%}"></script>
{% endblock %}
