{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{% translate 'Add Bank' %}
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block amazonsidebar %}{% endblock %}
{% block content %}
<main>
  <div class="container-fluid">
    {% include "sidebar.html" %}
    <div class="row">
      <div class="col-12">
        {% if not form.instance.pk %}
        <h1>{% translate 'Add Bank' %}</h1>
        {% else %}
        <h1>{% translate 'Edit Bank' %}</h1>
        {% endif %}
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
          <ol class="breadcrumb pt-0">
            <li class="breadcrumb-item">
              <a href="{% url 'core:dashboard' %}">{% translate 'Dashboard' %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{% translate 'Add Bank' %}</li>
          </ol>
        </nav>
        <div class="separator mb-5"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="mb-4">{% translate 'Add Bank' %}</h5>
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
