{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% block title %}
{% translate 'Check your inbox' %}
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block body %}

<body class="background show-spinner">
  <div class="fixed-background"></div>
  <main>
    <div class="container">
      <div class="row h-100">
        <div class="col-12 col-md-10 mx-auto my-auto">
          <div class="card auth-card">
            <div class="position-relative image-side w-100">

              <p class="text-white h2">{% translate 'Check your inbox.' %}</p>

              <p class="white mb-0">
                {% translate 'We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
              </p>
              <p class="white mb-0">
                {% translate 'If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.' %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
