{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% block title %}
{% translate 'Change Password' %}
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block amazonsidebar %}{% endblock %}
{% block content %}
<main>
  <div class="container-fluid">
    {% include "user/sidebar.html" %}
  <h1>{% translate 'Change Password' %}</h1>
  <div class="separator mb-5"></div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="mb-4">{% translate 'Change Password' %}</h5>
            {% if success %}
            <div class="alert alert-success rounded" role="alert">
              {% translate 'You successfully changed your password!' %}
            </div>
            {% endif %}
            <form method="POST" novalidate>
              {% csrf_token %}
              {{ form|crispy }}

              <button type="submit" class="btn btn-primary mb-0">{% translate 'Submit' %}</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
