{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Change Password
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block amazonsidebar %}{% endblock %}
{% block content %}
<h1>Change Password</h1>

    <div class="separator mb-5"></div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="mb-4">Change Password</h5>
            {% if success %}
            <div class="alert alert-success rounded" role="alert">
              You successfully changed your password!
            </div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}

              <button type="submit" class="btn btn-primary mb-0">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
