{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% block title %}
{% translate 'Update Profile' %}
{% endblock title %}
{% block table_style %}{% endblock %}
{% block form_style %}{% endblock %}
{% block content %}
<main>
  <div class="container-fluid">
    {% include "user/sidebar.html" %}
    <div class="row">
      <div class="col-md-6">
        <h1>{% translate 'Update Profile' %}</h1>
      </div>
      <div class="col-md-6">
        <p class="mb-0 mt-3 text-right"><strong>{% translate 'Register on' %}:</strong> {{user.date_joined}} ({{TIME_ZONE}}), <strong>Last login:</strong> {{user.last_login}}</p>
      </div>
    </div>

    <div class="separator mb-5"></div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="mb-4">{% translate 'Update Profile' %}</h5>

            {% include "global/messages.html" %}
            <form method="POST" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary mb-0">{% translate 'Submit' %}</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block chart_script %}{% endblock %}
{% block table_script %}{% endblock %}
{% block form_script %}{% endblock %}
